In [1]:
import os
import pandas as pd
from tqdm import tqdm
import json

In [3]:
path = "data/chitalnya/"
files = os.listdir(path)

In [13]:
def get_data_with_rating(data, with_rating, filename):
    total = 0
    for i, s in enumerate(data):
        if "rating" in s:
            with_rating.append(
                {
                    "idx" : i,
                    "filename":filename,
                    "rating": s["rating"],
                    "text_len": len(s["text"]),
                    "tag": s["tag"],
                }
            )
        total += 1
    return total

In [14]:
with_rating = []
cnt = 0
for file in tqdm(files):
    with open(path + file) as f:
        data = json.load(f)
        cnt += get_data_with_rating(data, with_rating, file)

100%|████████████████████████████████████████████████████████████████| 7937/7937 [00:47<00:00, 165.64it/s]

In [15]:
print(f"Total amount of poems: {cnt}")
print(f"Poems with rating field: {len(with_rating)}")

Total amount of poems: 714870
Poems with rating field: 329560

In [16]:
meta_df = pd.DataFrame(with_rating)
df_with_ratings = meta_df[meta_df["rating"].notna()].reset_index(drop=True)
df_with_ratings.rating = df_with_ratings.rating.astype(int)

In [17]:
df_with_ratings[["rating", "text_len"]].describe(include="all")

              rating       text_len
count  127835.000000  127835.000000
mean       29.767231     779.762499
std        50.031324    1930.529442
min         1.000000       1.000000
25%         4.000000     407.000000
50%        11.000000     622.000000
75%        35.000000     881.000000
max      1959.000000  261860.000000

In [19]:
set(df_with_ratings["tag"].values)

{'Акростихи',
 'Афоризмы',
 'Баллады',
 'Басни',
 'Драмы в стихах',
 'Новая экспериментальная поэзия',
 'Песни (разное)',
 'Стихи, не вошедшие в рубрики',
 'Эпиграммы',
 'исторические стихи',
 'лирика',
 'пародия',
 'стихи для детей',
 'шуточные стихи',
 'эротика'}

# Let's make a basic